
body{
	text-align: center;
	text-transform: uppercase;
	color:rgba(0, 0, 0,.5);
	background: linear-gradient(to right, red, yellow);
	 
}
h1{
	text-align: center;
	text-transform: uppercase;
	flex-wrap: wrap;
	margin:0px;
	letter-spacing: .5em;
	color:rgba(0, 0, 0, 0.5);
}
h2 {
	text-align: center;
	text-transform: uppercase;
	flex-wrap: wrap;
	color:rgba(0, 0, 0, 0.5);
}